.imageContainer {
    position: relative;
    width: 100%;
    height: 250px;
    overflow: hidden;
}

.image {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    color: white;
    font-size: 4rem;
    font-weight: 800;
}

.titleContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1.5rem;
    font-weight: 800;
    margin-top: 2rem;
    padding: 0 1rem;
    text-align: center;
}

.imageGrid {
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    padding: 0 1rem;
}

.imageItem {
    position: relative;
    height: 12rem;
    overflow: hidden;
    border-radius: 0.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease;
}

.imageItem:hover {
    transform: scale(1.05);
}

.gridImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.imageItem:hover .gridImage {
    transform: scale(1.05);
}

.imageContent {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0.8rem;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button {
    background-color: #ff0000;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    font-weight: 600;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #8b0000;
}

.gridImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Media Queries for responsive design */
@media (min-width: 640px) {
    .imageGrid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1024px) {
    .imageGrid {
        grid-template-columns: repeat(4, 1fr);
    }
    
    .imageContainer {
        height: 350px;
    }
    
    .title {
        font-size: 8rem;
    }
    
    .titleContainer {
        font-size: 3rem;
    }
}